<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.auth.cfiapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/cfiapp_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/cfiapp_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CFIApp">
        <activity
            android:name="edu.auth.cfiapp.IndicatorsActivity"
            android:parentActivityName="edu.auth.cfiapp.PlottingActivity"
            android:screenOrientation="portrait">
            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.auth.cfiapp.PlottingActivity" />
        </activity>
        <activity
            android:name="edu.auth.cfiapp.PlottingActivity"
            android:parentActivityName="edu.auth.cfiapp.MainActivity"
            android:screenOrientation="landscape">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.auth.cfiapp.MainActivity" />
        </activity>
        <activity android:name="edu.auth.cfiapp.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>